$orange: orange;
$green: #8AA399;
$black: #000;
$white: #fff;
$lightpurple: #8FA6CB;
$gray: #8B8C89;
$lightblue: #6096BA;

body {
  width: 100%;
  background-color: $lightblue;
}

div {
  margin-left: 35%;
}

h1 {
  color: $orange;
  text-align: center;
  font-family: 'Creepster', cursive;
}

h2 {
  font-family: 'Creepster', cursive;
}

h3,
p,
label, {
  font-family: 'Advent Pro', sans-serif;
}

input {
  font-family: 'Advent Pro', sans-serif;
}
