$orange: orange;
$green: #8AA399;
$black: #000;
$white: #fff;
$lightpurple: #8FA6CB;

body {
  width: 100%;
  background-color: $green;
}

/*header {
  background-color: $lightpurple;
}*/

h1 {
  color: $white;
  text-align: center;
  font-family: 'Creepster', cursive;
}

h2 {
  font-family: 'Creepster', cursive;
}

h3,
p,
label, {
  font-family: 'Advent Pro', sans-serif;
}

input {
  font-family: 'Advent Pro', sans-serif;
  color: $orange;
}
